extends layout

block content
  - let i = 0;
  main.page-content(data-last-id=lastId)
    each image in images
      section.img-container(id= i++, data-href= image.fullImage, tabindex=0)
        img.min-img(src = image.minImage, alt = image.alt)
  footer.pics-page-footer
    section.switch-pages
      if currentPage > 1
        a.switch-page(href=`/pages/${currentPage - 1}`) Back
      - for(let page = 1; page <= pagesCount; page++) 
          if(page == currentPage)
            a.switch-page.current(href=`/pages/${page}`) #{page}
          else 
            a.switch-page(href=`/pages/${page}`) #{page}
          
      if currentPage < pagesCount
        a.switch-page(href=`/pages/${currentPage + 1}`) Forward